---
const response = await fetch("https://api.promiedos.com.ar/league/tables_and_fixtures/hc");
const data = await response.json();

const group = data?.tables_groups?.[0]; // Ej: Apertura
const zonas = group?.tables || [];

const bodyTdClasses = "px-2 py-3"
---

<section>
  <h2>Tabla de posiciones - {group?.name}</h2>

  {zonas.map((zona) => {
    const tableData = zona?.table;
    const columns = tableData?.columns || [];
    const rows = tableData?.rows || [];

    return (
      <>
        <h3>{zona.name}</h3>

        <div class="relative overflow-x-auto shadow-md rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-textDark dark:text-gray-400">
          <thead class="text-xs text-textDark uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th>#</th>
              <th>Equipo</th>
              {columns.map(col => (
                <th>{col.title}</th>
              ))}
            </tr>
          </thead>
          <tbody>
            {rows.map((row) => (
              <tr>

                <td class={`${bodyTdClasses} text-center font-bold`}>{row.num}</td>

                <td class={`${bodyTdClasses} font-bold `}>{row.entity?.object?.name}</td>

                {columns.map(col => {
                  const valueObj = row.values.find(v => v.key === col.key);
                  let value = valueObj?.value;

                  if (Array.isArray(value)) {
                    // Mostrar íconos de tendencia (últimos partidos)
                    value = value.map(result => {
                      if (result === 1) return "✅"; // victoria
                      if (result === 0) return "❌"; // derrota
                      if (result === 2) return "➖"; // empate
                      return "•";
                    }).join(" ");
                  }

                  const isPointsColumn = col.key === "Points";

                  return  <td class={isPointsColumn ? "font-bold" : ""}>
                    {value}</td>;
                })}
              </tr>
            ))}
          </tbody>
        </table>
    </div>
      </>
    );
  })}
</section>
