---

const { statsName, statistics } = Astro.props;

const group = statistics?.players_statistics;

// Encuentra la tabla que contiene la columna con key igual al valor de statKey
const targetTable = statistics.players_statistics.tables.find(table =>
  table.columns.some(col => col.key === statsName)
);

if (!targetTable) {
  throw new Error(`No se encontró ninguna tabla con la clave '${statsName}'`);
}

// Encuentra el índice de la columna que tiene la key deseada
const columnIndex = targetTable.columns.findIndex(col => col.key === statsName);
const columnTitle = targetTable.columns[columnIndex].title;

const headerTdClasses = "px-2 py-3 text-center"
const bodyTdClasses = "px-2 py-3"
---

<section>
   

    <h3 class="text-textDark dark:text-gray-400 mb-2">{columnTitle}</h3>
    <div class="relative overflow-x-auto shadow-md rounded-lg mb-6 border border-gray-200 dark:border-gray-900">
        <table class="w-full text-sm text-left rtl:text-right text-textDark dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-900 dark:text-gray-400">
                    <tr>
                        <th scope="col" class={`${headerTdClasses}`}>
                            #
                        </th>
                        <th scope="col" class={`px-2 py-3`}>
                            Jugador
                        </th>
                        <th scope="col" class={`${headerTdClasses}`}>
                            {columnTitle}
                        </th>
                    </tr>
                </thead>
                
    {targetTable?.rows?.slice(0, 5).map((row: {num: unknown; entity, values: any[];}) => (
                <tbody>
                    <tr class="relative border-b dark:border-gray-900 border-gray-200">
                        <td class={`${bodyTdClasses} text-center`}>
                            {row.num}
                        </td>
                        <td class={`${bodyTdClasses}`}>
                            {row.entity.object.name}
                        </td>
                        <td class={`${bodyTdClasses} text-center`}>
                            {row.values.find(item => item.key === statsName)?.value}
                        </td>
                    </tr>
                </tbody>
    ))}
    </table>
    </div>

</section>
