---
import Icon from "@/components/ui/icons/Icon.astro";

interface Props {
  videoId: string
  thumbnailUrl: string
  title: string
}

const { videoId, thumbnailUrl, title } = Astro.props
---

<carrousel-item
  class="rounded-[16px] h-[570px] w-80 snap-center bg-red-500 relative shrink-0 cursor-pointer bg-center bg-[length:100%] hover:bg-[length:105%] transition-[background-size]"
  videoid={videoId}
  thumbnailurl={thumbnailUrl}
  data-title={title}
  aria-label="Reproducir video"
  role="button"
  tabindex="0"
>
  <div
    class="p-4 pl-[18px] bg-white rounded-full absolute bottom-6 right-6 hover:scale-110 transition-transform duration-300"
    id=`Id${videoId}`
    title={title}
  >
  <Icon icon="calendario" size="24" />
  </div>
</carrousel-item>