---
import { formatDate } from "@utils/utils";

const { title, url, image, alt, author, date } = Astro.props;


interface Props {
  title: string;
  url: string;
  image: string;
  alt: string;
  author: string;
  date: string;
}

---

<a
  class="group relative block rounded-xl outline-none ring-zinc-500 transition duration-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
  href={`/blog/${url}`}
  data-astro-prefetch
>
  <!-- The container for the blog post's cover image. Uses astro:assets' Image for image source -->
  <div
    class="relative h-[350px] w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-neutral-900/[.7]"
  >
    <img
      class="absolute start-0 top-0 size-full object-cover transition duration-500 group-hover:scale-110"
      src={`/images/blog/${image}`}
      alt={alt}
      draggable={"false"}
      loading={"eager"}
    />
  </div>

  <!-- The container for the blog author's avatar and associated metadata (author name and publication date) -->
  <div class="absolute inset-x-0 top-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <div class="flex items-center">

        <div class="ms-2.5 sm:ms-4 text-sm">
          <h4 class="font-bold text-neutral-50">
            {author}
          </h4>
          <p class="text-xs text-neutral-50/[.8]">
            {formatDate(date)}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- The container for the blog post's title and description -->
  <div class="absolute inset-x-0 bottom-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <h3
        class="text-balance text-2xl font-bold text-neutral-50 group-hover:text-neutral-50/[.8] md:text-3xl"
      >
        {title}
      </h3>
    </div>
  </div>
</a>
