---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
// import EmailFooterInput from "@components/ui/forms/input/EmailFooterInput.astro";
import strings from "@utils/navigation.ts";
import Icon from "@components/ui/icons/Icon.astro";
import BrandLogo from "@components/BrandLogo.astro";
// import { SITE } from "@data/constants";


// Define the variables that will be used in this component
const crafted: string = "Created with lots of ❤️ y 🍻️ by";
---

<footer class="w-full pt-8 pb-8 ">
  <div class="flex flex-col items-center justify-between sm:flex-row sm:justify-around">
    <div class="flex flex-col items-center sm:mr-4">
      <BrandLogo class="text-primary h-auto w-16" />
      <p class="text-sm text-textDark dark:text-neutral-200 my-2 text-center">
        © <span id="current-year"></span> LBDTw. {crafted}
        <a
          class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-sky-600"
          href="https://twitter.com/lucianobustos16"
          target="_blank"
          rel="noopener noreferrer"
        >luchito</a
        >.
      </p>
    </div>
  
    <div class="flex items-center md:justify-end justify-center flex-wrap space-x-4 sm:mt-4">
      <FooterSocialLink url={strings.socialLinks.x}>
        <Icon icon="x" />
      </FooterSocialLink>
  
      <FooterSocialLink url={strings.socialLinks.instagram}>
        <Icon icon="instagram" />
      </FooterSocialLink>
  
      <FooterSocialLink url={strings.socialLinks.discord}
            ><Icon icon="discord" />
          </FooterSocialLink>
  
          <FooterSocialLink url={strings.socialLinks.twitch}
            ><Icon icon="twitch" />
          </FooterSocialLink>
  
  
  
          <FooterSocialLink url={strings.socialLinks.youtube}
            ><Icon icon="youtube" />
          </FooterSocialLink>
  
          <!-- <FooterSocialLink url={strings.socialLinks.facebook}
          ><Icon icon="facebook" />
        </FooterSocialLink> -->
    </div>
  </div>
  
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>